---
name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-macos:
    name: Test (macOS, Swift ${{ matrix.swift }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - swift: '5.9'
            os: macos-15
          - swift: '6.0'
            os: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Swift version
        run: swift --version

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test

  test-linux:
    name: Test (Linux, Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ['5.9', '6.0']
    container:
      image: swift:${{ matrix.swift }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Swift version
        run: swift --version

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test
